


@charset "utf-8";


<style>

 


 
 
 
	 
	 
	 
	 
	 
	   .black_link_12pt

    {
          color:#1F1F1F	;
		  text-decoration:none;
		  font-weight: 100;
		  font-family: Tahoma; 
		  font-size: 12pt;
		  
    }

	 
	 
	 
	 
 
    .black_link_12pt:hover 
     {
	     color: #000;
     }
 
 
 
 
	 
	 
	   .black_link_11pt

    {
          color:#1F1F1F	;
		  text-decoration:none;
		  font-weight: 100;
		  font-family: Tahoma; 
		  font-size: 11pt;
		  
    }

	 
	 
	 
	 
 
    .black_link_11pt:hover 
     {
	     color: #000;
     }
 
 
 
 
 
	 
	 
	 
	   .black_link_10pt

    {
          color:#1F1F1F	;
		  text-decoration:none;
		  font-weight: 100;
		  font-family: Tahoma; 
		  font-size: 10pt;
		  
    }

	 
	 
	 
	 
 
    .black_link_10pt:hover 
     {
	     color: #000;
     }
 
 








	 
	   .black_link_9pt

    {
          color:#1F1F1F	;
		  text-decoration:none;
		  font-weight: 100;
		  font-family: Tahoma; 
		  font-size: 9pt;
		  
    }

	 
	 
	 
	 
 
    .black_link_9pt:hover 
     {
	     color: #000;
     }
 
 
 
 
 
 
 
 
	 
	   .black_link_8pt

    {
          color:#1F1F1F	;
		  text-decoration:none;
		  font-weight: 100;
		  font-family: Tahoma; 
		  font-size: 8pt;
		  
    }

	 
	 
	 
	 
 
    .black_link_8pt:hover 
     {
	     color: #000;
     }
 
 
 
 





	  
	   .black_link_8pt_bold

    {
          color:#1F1F1F	;
		  text-decoration:none;
		  font-weight: 100;
		  font-family: Tahoma; 
		  font-size: 8pt;
		   font-weight: 700;
		  
    }

	 
	 
	 
	 
 
    .black_link_8pt_bold:hover 
     {
	     color:#000;
		  font-weight: 700;
		  
     }
 
 
 
 
 
 
 
 
   
	   .black_link_9pt_bold

    {
          color:#1F1F1F	;
		  text-decoration:none;
		  font-weight: 100;
		  font-family: Tahoma; 
		  font-size: 9pt;
		   font-weight: 700;
		  
    }

	 
	 
	 
	 
 
    .black_link_9pt_bold:hover 
     {
	     color:#006;
		  font-weight: 700;
		  
     }
 
 
 
 
 
 
 
   
	   .black_link_10pt_bold

    {
          color:#1F1F1F	;
		  text-decoration:none;
		  font-weight: 100;
		  font-family: Tahoma; 
		  font-size: 10pt;
		   font-weight: 700;
		  
    }

	 
	 
	 
	 
 
    .black_link_10pt_bold:hover 
     {
	     color:#000;
		  font-weight: 700;
		  
     }
 
 
 
 
 
 
   
	   .black_link_11pt_bold

    {
          color:#1F1F1F	;
		  text-decoration:none;
		  font-weight: 100;
		  font-family: Tahoma; 
		  font-size: 11pt;
		   font-weight: 700;
		  
    }

	 
	 
	 
	 
 
    .black_link_11pt_bold:hover 
     {
	     color:#000;
		  font-weight: 700;
		  
     }
 
 
 
 
 
 
   
	   .black_link_12pt_bold

    {
          color:#1F1F1F	;
		  text-decoration:none;
		  font-weight: 100;
		  font-family: Tahoma; 
		  font-size: 12pt;
		   font-weight: 700;
		  
    }

	 
	 
	 
	 
 
    .black_link_12pt_bold:hover 
     {
	     color:#000;
		  font-weight: 700;
		  
     }
 
 
 
 
 
 
 
 
 
 
 

	  
	   .white_link_10pt

    {
          color:#FFF	;
		  text-decoration:none;
		  font-weight: 100;
		  font-family: Tahoma; 
		  font-size: 10pt;
		  
    }

	 
	 
	 
	 
 
    .white_link_10pt:hover 
     {
	     color: #CCC;
     }
 
 
 
 
 
   
	   .white_link_10pt_bold

    {
          color:#FFF	;
		  text-decoration:none;
		  font-weight: 100;
		  font-family: Tahoma; 
		  font-size: 10pt;
		  font-weight: 700;
		  
    }

	 
	 
	 
	 
 
    .white_link_10pt_bold:hover 
     {
	     color: #CCC;
     }
 
 
 
 




	  
	   .blue_link_10pt_bold

    {
          color:#005FA3	;
		  text-decoration:none;
		  font-weight: 100;
		  font-family: Tahoma; 
		  font-size: 10pt;
		   font-weight: 700;
		  
    }

	 
	 
	 
	 
 
    .blue_link_10pt_bold:hover 
     {
	     color:#006;
		  font-weight: 700;
		  
     }
 
 




   
     
	   .blue_link_10pt

    {
          color:#005FA3	;
		  text-decoration:none;
		  font-weight: 100;
		  font-family: Tahoma; 
		  font-size: 10pt;
		  
    }

	 
	 
	 
	 
 
    .blue_link_10pt:hover 
     {
	     color:#006;
     }
 
 
 
 
 
 
 
	   .blue_link_9pt

    {
          color:#00C	;
		  text-decoration:none;
		  font-weight: 100;
		  font-family: Tahoma; 
		  font-size: 9pt;
		  
    }

	 
	 
	 
	 
 
    .blue_link_9pt:hover 
     {
	     color:#006;
     }
 
 
 
 
	   .blue_link_8pt

    {
          color:#00C	;
		  text-decoration:none;
		  font-weight: 100;
		  font-family: Tahoma; 
		  font-size: 8pt;
		  
    }

	 
	 
	 
	 
 
    .blue_link_8pt:hover 
     {
	     color:#006;
     }
 
 
 
 
	   .white_link_8pt

    {
          color:#FFF	;
		  text-decoration:none;
		  font-weight: 100;
		  font-family: Tahoma; 
		  font-size: 8pt;
		  
    }

	 
 
    .white_link_8pt:hover 
     {
	     color: #CCC;
     }
 




	   .white_link_8pt_bold
    {
          color:#FFF	;
		  text-decoration:none;
		  font-weight: 700;
		  font-family: Tahoma; 
		  font-size: 8pt;
		  
    }

	 
 
    .white_link_9pt_bold:hover 
     {
	     color: #CCC;
     }
 






	   .white_link_9pt_bold
    {
          color:#FFF	;
		  text-decoration:none;
		  font-weight: 700;
		  font-family: Tahoma; 
		  font-size: 9pt;
		  
    }

	 
 
    .white_link_8pt_bold:hover 
     {
	     color: #CCC;
     }
 





   .cyan_txt_9pt
   {
	   font-family: Tahoma; 
	   font-size: 9pt; 
	   color:#7CACDA;
	   font-weight: 100;
   }





   .cyan_txt_11pt
   {
	   font-family: Tahoma; 
	   font-size: 11pt; 
	   color:#7CACDA;
	   font-weight: 100;
   }





   .cyan_txt_12pt
   {
	   font-family: Tahoma; 
	   font-size: 12pt; 
	   color:#7CACDA;
	   font-weight: 100;
   }







   .cyan_txt_10pt
   {
	   font-family: Tahoma; 
	   font-size: 10pt; 
	   color:#7CACDA;
	   font-weight: 100;
   }





   .cyan_txt_8pt
   {
	   font-family: Tahoma; 
	   font-size: 8pt; 
	   color:#7CACDA;
	   font-weight: 100;
   }





   .white_txt_8pt
   {
	   font-family: Tahoma; 
	   font-size: 8pt; 
	   color:#FFF;
	   font-weight: 100;
   }


 


   .white_txt_8pt_bold
   {
	   font-family: Tahoma;
	   font-size: 8pt;
	   color:#FFF; 
	   font-weight: 700;
   }





   .white_txt_10pt
   {
	   font-family: Tahoma; 
	   font-size: 10pt; 
	   color:#FFF;
	 
   }


 


   .white_txt_10pt_bold
   {
	   font-family: Tahoma;
	   font-size: 10pt;
	   color:#FFF; 
	   font-weight: 700;
   }





   .red_txt_10pt
   {
	   font-family: Tahoma; 
	   font-size: 10pt; 
	   color:#900;
	   font-weight: 100;
   }


 





   .red_txt_9pt
   {
	   font-family: Tahoma; 
	   font-size: 9pt; 
	   color:#900;
	   font-weight: 100;
   }


 
 
 

   .red_txt_8pt
   {
	   font-family: Tahoma; 
	   font-size: 8pt; 
	   color:#900;
	   font-weight: 100;
   }


 
 
 

   .red_txt_10pt_bold
   {
	   font-family: Tahoma;
	   font-size: 10pt;
	   color: #900; 
	   font-weight: 700;
   
   
   }
 




   .white_txt_14pt_bold_title
   {
	   font-family: Tahoma;
	   font-size: 14pt;
	   color:#FFF; 
	   font-weight: 700;
   }


   .white_txt_14pt_title
   {
	   font-family: Tahoma;
	   font-size: 14pt;
	   color:#FFF; 
	   font-weight: 100;
   }




 



































	 
	   

 



   .black_txt_8pt
   {
	   font-family: Tahoma; 
	   font-size: 8pt; 
	   color:#000;
	   font-weight: 100;
   }


 
 
 


   .sakani_txt_8pt
   {
	   font-family: Tahoma; 
	   font-size: 8pt; 
	   color:#666;
	   font-weight: 100;
   }








   .sakani_txt_9pt
   {
	   font-family: Tahoma; 
	   font-size: 9pt; 
	   color:#666;
	   font-weight: 100;
   }








   .sakani_txt_10pt
   {
	   font-family: Tahoma; 
	   font-size: 10pt; 
	   color:#666;
	   font-weight: 100;
   }







   .sakani_txt_11pt
   {
	   font-family: Tahoma; 
	   font-size: 11pt; 
	   color:#666;
	   font-weight: 100;
   }







   .sakani_txt_12pt
   {
	   font-family: Tahoma; 
	   font-size: 12pt; 
	   color:#666;
	   font-weight: 100;
   }








   .black_txt_8pt_bold
   {
	   font-family: Tahoma;
	   font-size: 8pt;
	   color:#000; 
	   font-weight: 700;
   }





   .black_txt_10pt
   {
	   font-family: Tahoma; 
	   font-size: 10pt; 
	   color:000;
	   font-weight: 100;
   }


 


   .black_txt_10pt_bold
   {
	   font-family: Tahoma;
	   font-size: 10pt;
	   color:#000; 
	   font-weight: 700;
   }



 




   .blacke_txt_14pt_bold_title
   {
	   font-family: Tahoma;
	   font-size: 14pt;
	   color:#000; 
	   font-weight: 700;
   }


   .black_txt_14pt_title
   {
	   font-family: Tahoma;
	   font-size: 14pt;
	   color:#000; 
	   font-weight: 100;
   }




 
   .gray_txt_8pt_bold
   {
	   font-family: Tahoma;
	   font-size: 8pt;
	   color:#666; 
	   font-weight: 700;
   }


    .gray_txt_8pt
   {
	   font-family: Tahoma;
	   font-size: 8pt;
	   color:#666; 
	   font-weight: 100;
   }









 
 .borderit img{
border: 1px solid #999;
}

.borderit:hover img{
border: 1px solid #36F;
}

.borderit:hover{
color: #36F; /* irrelevant definition to overcome IE bug */
}




 



 .borderit_s img{
border: 1px solid #999;
}

.borderit_s:hover img{
border: 1px solid #36F;
}

.borderit_s:hover{
color: #36F; /* irrelevant definition to overcome IE bug */
}







.off {
background-color:  ;
}
.on {
background-color: #ccc;
}










.tablemouseover_skane
{
 height:20px;
 background-color:#F3F3F3;
 background: -webkit-linear-gradient(top, #E9E9E9, #F3F3F3);
 border-style:solid;
 border-width:1px;
 vertical-align:middle;
 border-color:#E8E8E8;
}
 

.tablemouseover_skane:hover 
{
 height:20px;
 background-color:#F3F3F3; 
 background: -webkit-linear-gradient(top, #F3F3F3, #E9E9E9);
 border-style:solid;
 border-width:1px;
 vertical-align:middle;
 border-color:#E8E8E8;
}








.tablemouseoveer
{
 height:20px;
 background-color:#F3F3F3;
 background: -webkit-linear-gradient(top, #F3F3F3, #E8E8E8);
 border-style:solid;
 border-width:1px;
 vertical-align:middle;
 border-color:#E8E8E8;
}
 

.tablemouseoveer:hover 
{
 height:20px;
 background-color:#F3F3F3; 
 background: -webkit-linear-gradient(top, #F3F3F3, #E2FFA6);
 border-style:solid;
 border-width:1px;
 vertical-align:middle;
 border-color:#E8E8E8;
}








.buttonStyles
{
	 -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
	background-color:#FFF;
	color:#333;
	border:solid #999 1px;
	opacity:0.99;
	text-align:center;
	background: -webkit-linear-gradient(top, #FFF, #E7F0FF);
}




.buttonStyles:hover
{
	 -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
	border:solid #666 1px;
	background-color:#FFF;
	text-align:center;	 
	background: -webkit-linear-gradient(top, #FFF, #E4E4E4);
}









.liner_background
{
 background: -webkit-linear-gradient(top, #FFF, #E7F0FF);
 border-style:solid;
 border-width:1px;
 border-color:#BADCDE;
 background-color:#E7F0FF;
}















 
</style>
